[Unit]
Description=Daily StumpfWorks Identity maintenance

[Timer]
OnCalendar=*-*-* 03:15:00
RandomizedDelaySec=20m
Persistent=true
Unit=swbadge-login01-maintenance.service

[Install]
WantedBy=timers.target
